body {
    background: #000000;
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: "Jersey";
    font-weight: 900;
    src: url(./assets/fonts/Jersey25-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Howli';
    src: url(./assets/fonts/Howli-SansOne.otf) format('opentype');
}